community_codes/MarkStriekwold/mqtt_dht_moist/node-red/flows.json
[{"id":"7a4cba68.7f6ac4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ac32f62.22174","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a4ed4eaa.3c1e9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dfaf487f.4df8d8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"55baa414.d1860c","type":"ui_group","name":"Dashboard","tab":"a4ed4eaa.3c1e9","order":1,"disp":true,"width":24,"collapse":false},{"id":"f0173e9a.7451a","type":"mqtt in","z":"7a4cba68.7f6ac4","name":"Temperature","topic":"dht/temp","qos":"1","datatype":"auto","broker":"9ac32f62.22174","nl":false,"rap":true,"rh":0,"x":340,"y":200,"wires":[["77eae14f.c8867"]]},{"id":"f3577d88.6015f","type":"mqtt in","z":"7a4cba68.7f6ac4","name":"Humidity","topic":"dht/hum","qos":"1","datatype":"auto","broker":"9ac32f62.22174","nl":false,"rap":true,"rh":0,"x":330,"y":300,"wires":[["a6348e4f.34fd1"]]},{"id":"77eae14f.c8867","type":"ui_gauge","z":"7a4cba68.7f6ac4","name":"Temperature","group":"55baa414.d1860c","order":1,"width":8,"height":5,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-10","max":"50","colors":["#000cb3","#00e658","#cb3a3a"],"seg1":"","seg2":"","x":550,"y":200,"wires":[]},{"id":"a6348e4f.34fd1","type":"ui_gauge","z":"7a4cba68.7f6ac4","name":"Humidity","group":"55baa414.d1860c","order":2,"width":8,"height":5,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#3e00b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":300,"wires":[]},{"id":"f7f56492.3e57b8","type":"mqtt in","z":"7a4cba68.7f6ac4","name":"Moisture","topic":"moist","qos":"1","datatype":"auto","broker":"9ac32f62.22174","nl":false,"rap":true,"rh":0,"x":350,"y":420,"wires":[["9bd86874.71ba88","ac8bdcd9.b52f6"]]},{"id":"370b3449.9008ac","type":"mqtt out","z":"7a4cba68.7f6ac4","name":"Pump","topic":"pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9ac32f62.22174","x":770,"y":500,"wires":[],"inputLabels":["OFF"]},{"id":"9bd86874.71ba88","type":"ui_gauge","z":"7a4cba68.7f6ac4","name":"Moisture","group":"55baa414.d1860c","order":3,"width":8,"height":5,"gtype":"wave","title":"Moisture","label":"","format":"{{value}}","min":0,"max":"100","colors":["#b30900","#1be600","#3a43cb"],"seg1":"","seg2":"","x":570,"y":420,"wires":[]},{"id":"6c58be4.a55b94","type":"mqtt in","z":"7a4cba68.7f6ac4","name":"pump","topic":"pump","qos":"1","datatype":"auto","broker":"9ac32f62.22174","nl":false,"rap":true,"rh":0,"x":340,"y":640,"wires":[["4e7a3f67.c49a6"]]},{"id":"4e7a3f67.c49a6","type":"ui_switch","z":"7a4cba68.7f6ac4","name":"Pump","label":"Pump ON or OFF","tooltip":"","group":"55baa414.d1860c","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":730,"y":660,"wires":[[]],"inputLabels":["ON"],"outputLabels":["true"]},{"id":"ac8bdcd9.b52f6","type":"switch","z":"7a4cba68.7f6ac4","name":"pump switch","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"},{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":520,"wires":[["63297e4.8244e8"],["2e248b6c.c82194"]],"outputLabels":["OFF","ON"]},{"id":"63297e4.8244e8","type":"change","z":"7a4cba68.7f6ac4","name":"Pump off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["370b3449.9008ac"]]},{"id":"2e248b6c.c82194","type":"change","z":"7a4cba68.7f6ac4","name":"Pump on","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":540,"wires":[["370b3449.9008ac"]]}]